.button {
  min-width: 9rem;
  height: 4.8rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.button__text {
  font-family: "spartan";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
  word-spacing: 1px;
  padding: 0 1.75rem;
}
.button__icon-container {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background: var(--color-white);
  position: relative;
  margin-left: 0.5rem;
}
.button--icon {
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button--purple {
  color: var(--color-white);
  background: var(--color-purple);
}
.button--purple:hover {
  background: var(--color-purple-mimosa);
}
.button--dark {
  color: var(--color-regent-grey);
  background: var(--color-grey-bright);
}
.button--dark:hover {
  color: var(--color-white-link-Water);
}
.button--black {
  color: var(--color-regent-grey);
  background: var(--color-black-cinder);
}
.button--black:hover {
  background: var(--color-blue-dark);
  color: var(--color-white-link-Water);
}
.button--red {
  color: var(--color-white);
  background: var(--color-red-dark);
}
.button--red:hover {
  background: var(--color-red-light);
}
.button--white {
  background: var(--color-white-alabaster);
  color: var(--color-blue-wild-yonder);
}
.button--white:hover {
  background: var(--color-white-link-Water);
  color: var(--color-blue-wild-yonder);
}

.active {
  color: var(--color-black-text);
}

.H1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  word-spacing: -1px;
}

.H2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.2rem;
  word-spacing: -0.63px;
}

.H3 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.4rem;
  word-spacing: -0.8px;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  word-spacing: -0.25px;
  margin: 0.25rem 0;
}

.paragraph-bold {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
  word-spacing: 1px;
  letter-spacing: -0.25px;
}

.color-black {
  transition: all 0.2s;
  color: var(--color-black-cinder);
}
.color-black:hover {
  color: var(--color-purple);
}

.inactive-text {
  color: var(--color-regent-grey);
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}
.menu__item:first-of-type {
  flex: 0 0 55%;
}

.filter {
  position: relative;
  flex: 0 0 11.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.filter:hover {
  visibility: visible;
}
.filter__text {
  transition: 0.5s;
}
.filter__text:hover {
  color: var(--color-blue-dark-2);
}
.filter__icon-container {
  width: 1rem;
  height: 1rem;
}
.filter__icon {
  width: 100%;
  height: 100%;
}
.filter__drop-box {
  width: 5rem;
  height: 5rem;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dropbox {
  visibility: hidden;
  position: absolute;
  left: -3.5rem;
  top: 5rem;
  width: 19.2rem;
  height: 12.8rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px gray;
  background: white;
  z-index: 5;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dropbox__content {
  width: 10rem;
  height: 1.6rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
}
.dropbox input {
  display: none;
}
.dropbox__checkmark {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1.2rem;
  background-color: var(--color-white-link-Water);
  border: 1.5px solid var(--color-purple);
  border-radius: 3px;
}

.header {
  width: var(--sidebar-desktop-width);
  height: 100vh;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-grey-bright);
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
}

.logo {
  width: 100%;
  height: var(--sidebar-desktop-width);
  background: var(--color-purple);
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo::after {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-purple-mimosa);
  border-radius: var(--corner-radius) 0 var(--corner-radius) 0;
}
.logo__image {
  z-index: var(--layer-2);
  height: 4rem;
  width: 100%;
}

.profile {
  width: 100%;
  height: 12rem;
  margin-bottom: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.profile__setting {
  text-align: center;
}
.profile__setting:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-top: 1px solid #494e6e;
}
.profile__mode {
  width: 2rem;
  height: 2rem;
}
.profile__avatar {
  width: 3.5rem;
  border-radius: 50%;
  vertical-align: bottom;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "spartan", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-white-lilac);
}

:root {
  --layer-1: 0;
  --layer-2: 5;
  --later-3: 10;
  --later-4: 15;
  --sidebar-desktop-width: 10rem;
  --sidebar-mobile-height: 10rem;
  --corner-radius: 2rem;
  --color-purple: #7c5dfa;
  --color-purple-mimosa: #9277ff;
  --color-blue-wild-yonder: #7e88c3;
  --color-blue-dark: #1e2139;
  --color-blue-dark-2: #979797;
  --color-blue-dark-lighter: #252945;
  --color-white: #ffffff;
  --color-white-link-Water: #dfe3fa;
  --color-white-lilac: #f8f8fb;
  --color-white-alabaster: #f9fafe;
  --color-regent-grey: #888eb0;
  --color-grey-bright: #373b53;
  --color-black-cinder: #0c0e16;
  --color-black-mirage: #141625;
  --color-red-light: #ff9797;
  --color-red-dark: #ec5757;
}

.content {
  min-width: 73rem;
  min-height: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.illustration-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}
.illustration-empty__icon-container {
  height: 20rem;
  width: 24rem;
  margin-bottom: 2.5rem;
}
.illustration-empty__icon {
  width: 100%;
  height: 100%;
}
.illustration-empty__heading {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: -0.63;
}
.illustration-empty__paragraph {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: -0.23px;
}

/*# sourceMappingURL=styles.css.map */
