.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--color-white);
}

.content {
  min-width: 73rem;
  min-height: 50rem;
  align-self: center;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  box-shadow: 5px 5px 10px var(--color-primary-light-2);
  background-color: var(--color-white);
}

.sidebar {
  width: var(--sidebar-desktop-width);
  height: 100vh;

  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--color-blue-dark-2);
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;
}

.logo-container {
  width: 100%;
  height: var(--sidebar-desktop-width);

  background-color: var(--color-primary-light);
  border-radius: 0 var(--corner-radius) var(--corner-radius) 0;

  position: relative;

  z-index: var(--layer-1);

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    width: 100%;
    height: 50%;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--color-primary-dark);
    border-radius: var(--corner-radius) 0 var(--corner-radius) 0;
  }

  &__image {
    z-index: var(--layer-2);

    height: 4rem;
    width: 100%;
  }
}

.profile-settings {
  width: 100%;
  height: 12rem;
  margin-bottom: 2rem;

  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__setting {
    text-align: center;

    &--mode {
      width: 2rem;
      height: 2rem;
    }

    &--avatar {
      width: 3.5rem;
      border-radius: 50%;
      vertical-align: bottom;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      border-top: 1px solid #494e6e;
    }
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
  padding: 0.4rem 0;
}

.filter {
  flex: 0 0 20%;
  position: relative;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--icon-container {
      width: 1.5rem;
      height: 1.5rem;

      &--svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__drop-box {
    width: 5rem;
    height: 5rem;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.button-box {
  flex: 0 0 20%;
}

.results {
  margin-bottom: 5rem;
}

.illustration-empty {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: white;

  &__icon-container {
    height: 20rem;
    width: 24rem;
    margin-bottom: 2.5rem;

    &--svg {
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: -0.63;
  }

  &__paragraph {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.8rem;
    letter-spacing: -0.23px;
    color: var(--color-primary-light-2);
  }
}

.dropbox {
  width: 19.2rem;
  height: 12.8rem;
  border-radius: 1rem;

  box-shadow: 0 0 10px gray;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
  font-weight: 500;

  &__content {
    width: 10rem;
    height: 1.6rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
  }

  & input {
    display: none;
  }

  &__checkmark {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1.2rem;
    background-color: var(--color-grey-light);
    border: 1.5px solid var(--color-primary-dark);
    border-radius: 3px;
  }
}
