.button {
  min-width: 9rem;
  height: 4.8rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

  border: none;
  border-radius: 5rem;

  cursor: pointer;
  transition: all 0.5s;

  &__text {
    font-family: 'spartan';
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
    word-spacing: 1px;
    padding: 0 1.75rem;
  }

  &__icon-container {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    background: var(--color-white);
    position: relative;
    margin-left: 0.5rem;
  }

  &--icon {
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--purple {
    color: var(--color-white);
    background: var(--color-purple);

    &:hover {
      background: var(--color-purple-mimosa);
    }
  }

  &--dark {
    color: var(--color-regent-grey);
    background: var(--color-grey-bright);

    &:hover {
      color: var(--color-white-link-Water);
    }
  }

  &--black {
    color: var(--color-regent-grey);
    background: var(--color-black-cinder);

    &:hover {
      background: var(--color-blue-dark);
      color: var(--color-white-link-Water);
    }
  }

  &--red {
    color: var(--color-white);
    background: var(--color-red-dark);

    &:hover {
      background: var(--color-red-light);
    }
  }

  &--white {
    background: var(--color-white-alabaster);
    color: var(--color-blue-wild-yonder);

    &:hover {
      background: var(--color-white-link-Water);
      color: var(--color-blue-wild-yonder);
    }
  }
}
