:root {
  --color-primary-dark: #9277ff;
  --color-primary-light: #7c5dfa;
  --color-primary-light-2: #7e88c3;

  --color-blue-dark-1: #1e2139;
  --color-blue-dark-2: #252945;

  --color-grey-light: #dfe3fa;
  --color-grey-dark: #888eb0;

  --color-red-light: #ff9797;
  --color-red-dark: #ec5757;

  --color-white: #f8f8fb;
  --color-black-text: #141625;
  --color-text: #0c0e16;
  --color-text-light: #d8d8d8;

  --layer-1: 0;
  --layer-2: 5;
  --later-3: 10;
  --later-4: 15;

  --sidebar-desktop-width: 10rem;
  --sidebar-mobile-height: 10rem;

  --corner-radius: 2rem;
}
