:root {
  --layer-1: 0;
  --layer-2: 5;
  --later-3: 10;
  --later-4: 15;

  --sidebar-desktop-width: 10rem;
  --sidebar-mobile-height: 10rem;

  --corner-radius: 2rem;

  //// Purple ////
  --color-purple: #7c5dfa;
  --color-purple-mimosa: #9277ff;
  --color-blue-wild-yonder: #7e88c3;

  //// Blue ////
  --color-blue-dark: #1e2139;
  --color-blue-dark-2: #979797;

  --color-blue-dark-lighter: #252945;

  //// Grey + White ////
  --color-white: #ffffff;
  --color-white-link-Water: #dfe3fa;
  --color-white-lilac: #f8f8fb;
  --color-white-alabaster: #f9fafe;
  --color-regent-grey: #888eb0;
  --color-grey-bright: #373b53;

  //// Black ////
  --color-black-cinder: #0c0e16;
  --color-black-mirage: #141625;

  //// Red ////
  --color-red-light: #ff9797;
  --color-red-dark: #ec5757;
}
